
@font-face {
    font-family: 'MuseoModerno';
    font-display: swap;
    src: url('../fonts/MuseoModerno-Light.eot');
    src: local('../fonts/MuseoModerno Light'), local('MuseoModerno-Light'),
        url('../fonts/MuseoModerno-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoModerno-Light.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Light.woff') format('woff'),
        url('../fonts/MuseoModerno-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    font-display: swap;
    src: url('../fonts/MuseoModerno-Bold.eot');
    src: local('../fonts/MuseoModerno Bold'), local('MuseoModerno-Bold'),
        url('../fonts/MuseoModerno-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoModerno-Bold.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Bold.woff') format('woff'),
        url('../fonts/MuseoModerno-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    font-display: swap;
    src: url('../fonts/MuseoModerno-Regular.eot');
    src: local('../fonts/MuseoModerno Regular'), local('MuseoModerno-Regular'),
        url('../fonts/MuseoModerno-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoModerno-Regular.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Regular.woff') format('woff'),
        url('../fonts/MuseoModerno-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    font-display: swap;
    src: url('../fonts/MuseoModerno-Medium.eot');
    src: local('../fonts/MuseoModerno Medium'), local('MuseoModerno-Medium'),
        url('../fonts/MuseoModerno-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoModerno-Medium.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Medium.woff') format('woff'),
        url('../fonts/MuseoModerno-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Regular.eot');
    src: local('../fonts/Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
